.wy-nav-top .logo {
	margin-left: -0.25rem;
}

.landing .headerlink:after {
	display: none !important;
}

.container.mockup {
	margin: 3rem 0;
}

.container.mockup img {
	filter: hue-rotate(2deg) saturate(5%) contrast(100%);
	border-radius: 0.5rem;
	border: 3px solid #CCCCCC;
	box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.08), 0 0.8rem 5rem rgba(0,0,0,0.1), 0 4rem 3rem -2rem rgba(0,0,0,0.18);
}

@media (max-width: 600px) {
	.container.mockup img {
		border-radius: 0.35rem;
		border-width: 2px;
	}
}